<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <h3>Elemento mayor o igual a 15</h3>
  <ul>
    {% for operador in filtereds  %}
    <li> {{ operador.id}}  {{operador.email}} </li>
    {% endfor %}
  </ul>


  <h3>Elementos ordenados por orden</h3>
  <ul>
    {% for order in orders %}
    <li> {{order.email}} </li>
    {% endfor %}
  </ul>
  <h3>Total de elemntos: {{ orders|length }} </h3>

  <h3>Obtenindo los 5 despues de 10 de la lista</h3>
  <ul>
    {% for offset in offsets  %}
    <li> {{ offset.email }} </li>
    {% endfor %}
  </ul>

  <h3>Obtenindo los 10 primeros de la lista</h3>
  <ul>
    {% for limit in limits  %}
    <li> {{ limit.email }} </li>
    {% endfor %}
  </ul>

  <h3>Obteniendo el autor por la id() </h3>
  <p> {{ author }} </p>

  <h3>Buscando autor de emal = zrose@example.org</h3>
  <ul>
    {% for elm in filtered  %}
    <li>
      {{ elm.name }} | {{ elm.email }}
    </li>
    {% endfor %}
    <h3>Total de autores: {{ filtered|length }} </h3>
  </ul>
  <h3>Todos los autores</h3>
  <ul>
    {% for author in authors %}
    <li>
      {{ author.name }} ({{ author.email }})
    </li>
    {% for entry in author.entry_set.all %}
    <li>{{ entry }}</li>
    {% endfor %}
    {% endfor %}
  </ul>
  <h3>Total de autores: {{ authors|length }} </h3>
</body>
</html>